/.lake/build/
/.lake/packages/
/.lake/config/
/.lake/lake.env
/.lake/*
!/.lake/lake-manifest.json

/docbuild/.lake/
/docbuild/lake-manifest.json

/scratch/

.DS_Store
Thumbs.db
Desktop.ini

__pycache__/
*.pyc

.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/extensions.json
.idea/
*.swp
*.swo
*~

/papers/

report.pdf